.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.left-10 {
  left: 2.5rem
}

.top-10 {
  top: 2.5rem
}

.left-1 {
  left: 0.25rem
}

.top-1 {
  top: 0.25rem
}

.left-2 {
  left: 0.5rem
}

.top-2 {
  top: 0.5rem
}

.mb-1 {
  margin-bottom: 0.25rem
}

.mb-4 {
  margin-bottom: 1rem
}

.ml-4 {
  margin-left: 1rem
}

.mr-1 {
  margin-right: 0.25rem
}

.mt-4 {
  margin-top: 1rem
}

.mr-2 {
  margin-right: 0.5rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.block {
  display: block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-16 {
  height: 4rem
}

.h-\[120px\] {
  height: 120px
}

.h-\[40px\] {
  height: 40px
}

.h-\[70px\] {
  height: 70px
}

.h-\[100px\] {
  height: 100px
}

.h-\[130px\] {
  height: 130px
}

.h-\[150px\] {
  height: 150px
}

.w-\[300px\] {
  width: 300px
}

.w-\[40px\] {
  width: 40px
}

.w-\[70px\] {
  width: 70px
}

.w-full {
  width: 100%
}

.w-\[50px\] {
  width: 50px
}

.w-\[100px\] {
  width: 100px
}

.w-\[120px\] {
  width: 120px
}

.max-w-\[80\%\] {
  max-width: 80%
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.rounded-\[20px\] {
  border-radius: 20px
}

.rounded-full {
  border-radius: 9999px
}

.rounded-sm {
  border-radius: 0.125rem
}

.rounded-md {
  border-radius: 0.375rem
}

.rounded-lg {
  border-radius: 0.5rem
}

.border {
  border-width: 1px
}

.border-b {
  border-bottom-width: 1px
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.border-blue-200 {
  --tw-border-opacity: 1;
  border-color: rgb(191 219 254 / var(--tw-border-opacity))
}

.border-\[\#0630d8\] {
  --tw-border-opacity: 1;
  border-color: rgb(6 48 216 / var(--tw-border-opacity))
}

.bg-\[\#0d85c6\] {
  --tw-bg-opacity: 1;
  background-color: rgb(13 133 198 / var(--tw-bg-opacity))
}

.bg-\[\#8be2f6\] {
  --tw-bg-opacity: 1;
  background-color: rgb(139 226 246 / var(--tw-bg-opacity))
}

.bg-\[\#f3f0f0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(243 240 240 / var(--tw-bg-opacity))
}

.bg-\[\#fff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-red-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 202 202 / var(--tw-bg-opacity))
}

.bg-\[\#6fb3ce\] {
  --tw-bg-opacity: 1;
  background-color: rgb(111 179 206 / var(--tw-bg-opacity))
}

.p-2 {
  padding: 0.5rem
}

.p-4 {
  padding: 1rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.text-center {
  text-align: center
}

.font-karla {
  font-family: karla
}

.font-millenia {
  font-family: millenia
}

.text-\[17px\] {
  font-size: 17px
}

.text-\[18px\] {
  font-size: 18px
}

.text-\[28px\] {
  font-size: 28px
}

.text-\[30px\] {
  font-size: 30px
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-\[40px\] {
  font-size: 40px
}

.text-\[20px\] {
  font-size: 20px
}

.text-\[23px\] {
  font-size: 23px
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-\[12px\] {
  font-size: 12px
}

.text-\[19px\] {
  font-size: 19px
}

.text-\[16px\] {
  font-size: 16px
}

.font-bold {
  font-weight: 700
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-\[18\] {
  color: 18
}

.underline {
  text-decoration-line: underline
}
