.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.mb-1 {
  margin-bottom: 0.25rem
}

.mb-4 {
  margin-bottom: 1rem
}

.mt-4 {
  margin-top: 1rem
}

.mt-8 {
  margin-top: 2rem
}

.block {
  display: block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-\[120px\] {
  height: 120px
}

.h-\[70px\] {
  height: 70px
}

.w-\[300px\] {
  width: 300px
}

.w-\[70px\] {
  width: 70px
}

.w-full {
  width: 100%
}

.max-w-\[70\%\] {
  max-width: 70%
}

.max-w-\[80\%\] {
  max-width: 80%
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-sm {
  border-radius: 0.125rem
}

.rounded-xl {
  border-radius: 0.75rem
}

.rounded-\[20px\] {
  border-radius: 20px
}

.border {
  border-width: 1px
}

.bg-\[\#0d85c6\] {
  --tw-bg-opacity: 1;
  background-color: rgb(13 133 198 / var(--tw-bg-opacity))
}

.bg-\[\#8be2f6\] {
  --tw-bg-opacity: 1;
  background-color: rgb(139 226 246 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.p-2 {
  padding: 0.5rem
}

.p-4 {
  padding: 1rem
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.text-center {
  text-align: center
}

.font-karla {
  font-family: karla
}

.text-\[17px\] {
  font-size: 17px
}

.text-\[18px\] {
  font-size: 18px
}

.text-\[28px\] {
  font-size: 28px
}

.text-\[30px\] {
  font-size: 30px
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.font-bold {
  font-weight: 700
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.underline {
  text-decoration-line: underline
}
