<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414982914077-u6unnut7dpc7a65lfqpdfsd7k3rd7r9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414982914077-u6unnut7dpc7a65lfqpdfsd7k3rd7r9p</string>
	<key>API_KEY</key>
	<string>AIzaSyBaGlrdJVXR7_MzL2QV-t9CcDBXWtNs3G4</string>
	<key>GCM_SENDER_ID</key>
	<string>414982914077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jsyncapp</string>
	<key>PROJECT_ID</key>
	<string>jsync-1ff61</string>
	<key>STORAGE_BUCKET</key>
	<string>jsync-1ff61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414982914077:ios:4c9f9c5af91ce4986e86f4</string>
</dict>
</plist>